.board {
    display: flex;
    justify-content: center;
}

.fun-board {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.user-table {
    border: 1px solid black;
    margin-top: 30px;
}

.user-table__row {
    width: 100%;
    border: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 4px;
}

.user-table__data {
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: nowrap;
    padding: 4px;
}

.user-table__data--content {
    display: flex;
    justify-content: space-evenly;
}